<a href="https://colab.research.google.com/github/Kavyakandhakatla/BDA_ICP1/blob/main/BDA_assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

a. Input the string “Python” as a list of characters from console, delete at least 2
characters, reversetheresultant string, and print it.
Sample input:
• python
Sample output:
• htyp

In [ ]:
str = list(input("Input a string: "))
str.remove('p')
str.remove('y')
str.reverse()
print("".join(str))

In [ ]:
i = int(input("Enter first number: "))
j = int(input("Enter second number: "))
add= i+j
sub= i-j
mul=i*j
div= i/j

print("Addition:", add)
print("Subtraction:",sub)
print("Multiplication:", mul)
print("Division:", div)

Enter first number: 2
Enter second number: 4
Addition: 6
Subtraction: -2
Multiplication: 8
Division: 0.5

In [ ]:
sentence = input("Enter a sentence: ")
sentence = sentence.replace('python', 'pythons')
print("Modified sentence:", sentence)

Enter a sentence: I love python programming
Modified sentence: I love pythons programming

In [ ]:
marks = int(input("Enter scored marks: "))

if marks >= 90:
    grade = "A"
elif marks >= 80:
    grade = "B"
elif marks >= 70:
    grade = "C"
elif marks >= 60:
    grade = "D"
else:
    grade = "F"

print("Final grade is:", grade)

Enter scored marks: 85
Final grade is: B

8. Write a code that appends the type of elements from a given list.
Input
x = [23, ‘Python’, 23.98]
Expected output
[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [ ]:
x = [23, 'Python', 23.98]
print(x)
types = [type(i) for i in x]
print(types)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

9. IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
• Find the length of the set IT_companies
• Add 'Twitter' to IT_companies
• Insert multiple IT companies at once to the set IT_companies
• Remove one of the companies from the set IT_companies
• What is the difference between remove and discard
• Join A and B
• Find A intersection B
• Is A subset of B
• Are A and B disjoint sets
• Join A with B and B with A
• What is the symmetric difference between A and B
• Delete the sets completely
• Convert the ages to a set and compare the length of the list and the set.

In [ ]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [ ]:
print("length of IT_companies:", len(IT_companies))

length of IT_companies: 7

In [ ]:
IT_companies.add('Twitter')
print(IT_companies)

{'Facebook', 'Google', 'Twitter', 'Apple', 'Amazon', 'Oracle', 'IBM', 'Microsoft'}

In [ ]:
IT_companies.update(['Cisco', 'Capgemini', 'UnionBank'])
print(IT_companies)

{'Twitter', 'Oracle', 'Microsoft', 'Google', 'Amazon', 'Facebook', 'Capgemini', 'Cisco', 'IBM', 'Apple', 'UnionBank'}

In [ ]:
IT_companies.remove('IBM')
print(IT_companies)

{'Twitter', 'Oracle', 'Microsoft', 'Google', 'Amazon', 'Facebook', 'Capgemini', 'Cisco', 'Apple', 'UnionBank'}

Remove will give the error if there is no element in the input and discard will not give any error it just discards.

In [ ]:
print("Join A and B:", A.union(B))
print("Intersection A and B:", A.intersection(B))
print("Is A subset of B:", A.issubset(B))
print("A and B disjoint?", A.isdisjoint(B))

print("A joined with B:", A | B)
print("B joined with A:", B | A)

print("Symmetric difference A and B:", A.symmetric_difference(B))

del A
del B

age_set = set(age)
print("Length of list:", len(age))
print("Length of set:", len(age_set))

Join A and B: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection A and B: {19, 20, 22, 24, 25, 26}
Is A subset of B: True
A and B disjoint? False
A joined with B: {19, 20, 22, 24, 25, 26, 27, 28}
B joined with A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference A and B: {27, 28}
Length of list: 8
Length of set: 5

Link to explanation video

https://drive.google.com/file/d/1kTOTfrcyWRuJE0LJxBRCK2NR5Y1xtGGP/view?usp=sharing